body {
    font-family: Georgia, serif;
}

h1 {
    font-style: italic;
    line-height: 50px;
    text-decoration: underline;
    text-decoration-color: lightgrey;
}

h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-block-start: 0;
}

p, a { 
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300;
}
